/* abril-fatface-regular - latin */
@font-face {
    font-family: 'Abril Fatface';
    font-style: normal;
    font-weight: 400;
    src: url('../assets/fonts/abril-fatface-v19-latin-regular.eot'); /* IE9 Compat Modes */
    src: local(''),
         url('../assets/fonts/abril-fatface-v19-latin-regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
         url('../assets/fonts/abril-fatface-v19-latin-regular.woff2') format('woff2'), /* Super Modern Browsers */
         url('../assets/fonts/abril-fatface-v19-latin-regular.woff') format('woff'), /* Modern Browsers */
         url('../assets/fonts/abril-fatface-v19-latin-regular.ttf') format('truetype'), /* Safari, Android, iOS */
         url('../assets/fonts/abril-fatface-v19-latin-regular.svg#AbrilFatface') format('svg'); /* Legacy iOS */
}

* { 
    box-sizing: border-box; 
}

body {
    background-color: #ffae93;
    font-family: 'Times New Roman', serif;
    margin: 0;
    cursor: default;
}

#app {
    height: 1300px;
    width: 995px;
    margin: 0 auto;
    padding: 30px 50px;
    background-image: url('../assets/images/background.png');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

h2 {
    border-top: 1px solid #DB6B30;
    border-bottom: 2px solid #DB6B30;
    margin: 0;
    text-align: center;
    padding: 3px 0 5px;
    font-family: 'Abril Fatface', 'Times New Roman', serif;
    letter-spacing: 0.05rem;
    color: #DB6B30;
    font-size: 1.35rem;
}

input::placeholder {
    color: black;
}

input:hover::placeholder {
    color: #6bc072;
}

input:focus::placeholder {
    background-color: white;
}

textarea:hover {
    color: #6bc072;
}

textarea:focus {
    background-color: white;
}


/* RESUME & MAIN SECTION */

#resume {
    background-color: #f7f5f5;
    height: 100%;
    display: grid;
    grid-template-columns: 200px auto;
    box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.3);
    overflow: hidden;
}

main {
    padding: 30px;
    box-shadow: 0 -3px 5px rgba(0, 0, 0, 0.3);
}

.experience-item,
.education-item {
    position: relative;
}

.big-add-icon {
    font-size: 1.8rem;
    color: rgb(52, 52, 188, 0.5);
    width: 100%;
    cursor: pointer;
    margin-top: 15px;
}

.big-add-icon:hover {
    color: rgb(52, 52, 188);
}

.big-trash-icon,
.big-trash-icon-2 {
    position: absolute;
    left: -27px;
    top: 15px;
    font-size: 1.2rem;
    color: rgb(207, 19, 19, 0.5);
    cursor: pointer;
}

.big-trash-icon:hover,
.big-trash-icon-2:hover {
    color: rgb(207, 19, 19);
}


/* HEADER */

#header {
    min-height: 226px;
}

.name-input,
.title-input,
.profile-input {
    width: 100%;
    padding: 0;
    border: none;
    outline: none;
    background-color: #f7f5f5;
    cursor: text;
}

.name-input {
    font-family: 'Abril Fatface', 'Times New Roman', serif;
    font-size: 3rem;
    letter-spacing: 0.05rem;
    margin-bottom: 5px;
}

.title-input {
    font-size: 1.25rem;
    font-family: 'Times New Roman', serif;
    margin-bottom: 35px;
}

.profile-input {
    font-size: 1rem;
    font-family: 'Times New Roman', serif;
    height: 96px;
    resize: none;
    overflow: hidden;
    line-height: 1.5;
}


/* EXPERIENCE & EDUCATION */

#experience {
    min-height: 700px;
}

.experience-container,
.education-container {
    display: flex;
    flex-direction: column;
    margin-top: 15px;
}

.experience-top,
.experience-middle,
.education-top,
.education-middle {
    display: flex;
    justify-content: space-between;
    height: 28px;
}

.company-input,
.school-input {
    font-size: 1.15rem;
    font-family: 'Times New Roman', serif;
    font-weight: 600;
    width: 400px;
    height: 28px;
}

.experience-location,
.education-location {
    display: flex;
    align-items: flex-end;
}

.company-input,
.city-input,
.state-input,
.position-input,
.dates-input,
.school-input,
.degree-input,
.date-input {
    border: none;
    outline: none;
    background-color: #f7f5f5;
}

.city-input,
.state-input,
.dates-input,
.date-input {
    font-family: 'Times New Roman', serif;
    font-size: 0.9rem;
    font-style: italic;
    height: 22px;
}

.city-input,
.dates-input,
.date-input {
    text-align: right;
}

.state-input {
    width: 33px;
    text-align: center;
}

.position-input,
.degree-input {
    font-family: 'Times New Roman', serif;
    font-size: 1rem;
    width: 400px;
    height: 26px;
}

.dates-input,
.date-input {
    width: 180px;
    padding-right: 4px;
}

.experience-bottom {
    margin-top: 10px;
}

.duty-render,
.bullet-render {
    display: flex;
    justify-content: space-between;
}

.trash-icon {
    color: rgb(207, 19, 19, 0.5);
    align-self: center;
    margin-right: 10px;
}

.trash-icon:hover {
    cursor: pointer;
    color: rgb(207, 19, 19);
}

.add-icon {
    color: rgb(46, 46, 221, 0.5); 
    margin-left: -3px;
    margin-top: 6px;
}

.add-icon:hover {
    cursor: pointer;
    color: rgb(46, 46, 221); 
}

.duty-item,
.bullet-point {
    display: flex;
    width: 95%;
    gap: 10px;
}

.circle-icon {
    font-size: 0.4rem;
    padding-top: 11px;
}

.duty-input {
    font-family: 'Times New Roman', serif;
    font-size: 0.95rem;
    width: 100%;
    line-height: 1.5;
    resize: none;
    border: none;
    outline: none;
    background-color: #f7f5f5;
}

.bullet-input {
    font-family: 'Times New Roman', serif;
    font-size: 0.95rem;
    width: 100%;
    border: none;
    outline: none;
    background-color: #f7f5f5;
    margin-top: 4px;
}


/* SIDE PANEL */

#side-panel {
    background-color: #E9CDA5;
    box-shadow: -3px -3px 5px rgba(0, 0, 0, 0.3);
    overflow: hidden;
}

.contact-container {
    min-height: 285px;
    margin-top: -17px;
}

.contact {
    min-height: 280px;
    width: 400px;
    background-color: #4141d6;
    border-radius: 50%;
    margin-left: -100px;
    margin-top: -20px;
}

.contact-content {
    padding-left: 120px;
    padding-top: 20px;
}

.sectionA-container {
    margin-top: 40px;
}