/* abril-fatface-regular - latin */
@font-face {
    font-family: 'Abril Fatface';
    font-style: normal;
    font-weight: 400;
    src: url('../assets/fonts/abril-fatface-v19-latin-regular.eot'); /* IE9 Compat Modes */
    src: local(''),
         url('../assets/fonts/abril-fatface-v19-latin-regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
         url('../assets/fonts/abril-fatface-v19-latin-regular.woff2') format('woff2'), /* Super Modern Browsers */
         url('../assets/fonts/abril-fatface-v19-latin-regular.woff') format('woff'), /* Modern Browsers */
         url('../assets/fonts/abril-fatface-v19-latin-regular.ttf') format('truetype'), /* Safari, Android, iOS */
         url('../assets/fonts/abril-fatface-v19-latin-regular.svg#AbrilFatface') format('svg'); /* Legacy iOS */
}

* { 
    box-sizing: border-box; 
}

body {
    background-color: #ffae93;
    font-family: 'Times New Roman', serif;
    margin: 0;
    cursor: default;
}

#app {
    height: 1300px;
    width: 995px;
    margin: 0 auto;
    padding: 30px 50px;
    background-image: url('../assets/images/background.png');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

#resume {
    background-color: #f7f5f5;
    height: 100%;
    display: grid;
    grid-template-columns: 200px auto;
    box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.3);
}

h2 {
    border-top: 1px solid #DB6B30;
    border-bottom: 2px solid #DB6B30;
    margin: 0;
    text-align: center;
    padding: 3px 0 5px;
    font-family: 'Abril Fatface', 'Times New Roman', serif;
    letter-spacing: 0.05rem;
    color: #DB6B30;
    font-size: 1.35rem;
}

/* SIDE PANEL */

#side-panel {
    background-color: #E9CDA5;
    box-shadow: -3px -3px 5px rgba(0, 0, 0, 0.3);
}


/* MAIN SECTION */

main {
    padding: 30px;
    box-shadow: 0 -3px 5px rgba(0, 0, 0, 0.3);
}


/* HEADER */

#header {
    min-height: 226px;
}

input::placeholder {
    color: black;
}

input:hover::placeholder {
    color: #6bc072;
}

input:focus::placeholder {
    background-color: white;
}

textarea:hover {
    color: #6bc072;
}

textarea:focus {
    background-color: white;
}

.name-input,
.title-input,
.profile-input {
    width: 100%;
    padding: 0;
    border: none;
    outline: none;
    background-color: #f7f5f5;
    cursor: text;
}

.name-input {
    font-family: 'Abril Fatface', 'Times New Roman', serif;
    font-size: 3rem;
    letter-spacing: 0.05rem;
    margin-bottom: 5px;
}

.title-input {
    font-size: 1.25rem;
    font-family: 'Times New Roman', serif;
    margin-bottom: 35px;
}

.profile-input {
    font-size: 1rem;
    font-family: 'Times New Roman', serif;
    height: 95px;
    resize: none;
    overflow: hidden;
}


/* EXPERIENCE */

#experience {
    min-height: 700px;
}

.experience-container {
    display: flex;
    position: relative;
    /*figure out max height then put trash in middle*/
}

.big-trash-icon {
    position: absolute;
    left: -25px;
    font-size: 1.5rem;
    color: #cf1313;
}

.experience-details {
    width: 100%;
}

.experience-top,
.experience-middle {
    display: flex;
    justify-content: space-between;
}

.company-input {
    font-size: 1.2rem;
    font-family: 'Times New Roman', serif;
    font-weight: 600;
    width: 400px;
}

.experience-location {
    display: flex;
}

.city-input,
.state-input,
.start-input,
.end-input {
    font-family: 'Times New Roman', serif;
    font-size: 0.9rem;
    font-style: italic;
}

.city-input,
.start-input {
    text-align: right;
}

.state-input {
    width: 33px;
    text-align: center;
}

.position-input {
    font-family: 'Times New Roman', serif;
    font-size: 1rem;
    width: 400px;
}

.experience-dates {
    display: flex;
}

.start-input,
.end-input {
    width: 80px;
}

.big-add-icon {
    font-size: 1.5rem;
    color: rgb(52, 52, 188);
    width: 100%;
    /* sticky to bottom of experience */
}


/* DUTIES */

.duty-item {
    display: flex;
    align-items: center;
    gap: 10px;
}

.circle-icon {
    font-size: 0.5rem;
}

.duty-input {
    width: 90%;
}

.trash-icon {
    color: rgb(207, 19, 19, 0.8);
}

.add-icon {
    color: rgb(46, 46, 221, 0.8);
    width: 100%;
}